/* =============================================================================
   Page Setup
   ========================================================================== */


*{ /*remove all defaults*/
	margin: 0px;
	padding: 0px;
}
span{
	margin: 0px;
}
@media only screen and (max-width: 768px) {
	span{
		margin: 0px;
	}
}
h1{
	
	font-family: "Tahoma";
	font-size: 50px !important; 
	margin: 0;
	padding-bottom: 0%;
	padding-top: 0%;
	padding-left: 0%;
	padding-right: 0%;
	color: white;
	transition: all .2s ease-in-out;
}
h2{
	font-family: "Tahoma";
	font-size: 20px;
	margin: auto;
	padding-top: 5%;
	position: center;
	color: white;
	transition: all .2s ease-in-out;
}
h3{
	font: bold 30px Tahoma;
	padding-bottom: .5%;
	padding-left: 1%;
	padding-top: 1%;
}
h4{
	font: bold 30px Tahoma;
}
h5{
	font-family: "Tahoma";
	font-size: 49px!important;
	margin: 0;
	padding-bottom: 0%;
	padding-top: 0%;
	padding-left: 0%;
	padding-right: 10px;
	color: white;
	transition: all .2s ease-in-out;
	cursor: pointer;
}
@media only screen and (max-width: 1024px) {
	h1{
		font-size: 40px !important;
	}
	h2{
		font-size: 18px !important;
	}
	h5{
		font-size: 35px !important;
	}
}
@media only screen and (max-width: 768px) {
	h1{
		font-size: 30px !important;
	}
	h2{
		font-size: 15px !important;
	}
	h5{
		font-size: 30px !important;
	}
}
body{
	width: 100%;
	display: block;
	text-align: center;
}
header, section, footer, aside, nav, article, hgroup{
	display: block;
}
#big-wrapper{
	background: white; /*change to white*/
	
	width: 100%;
	overflow: hidden;
	position: relative;
	text-align: center;
}
/* =============================================================================
   Background Javascript
   ========================================================================== */
#particles-js{
	width: 100%;
	height: 100%;
	float: right;
	background-color: #ffffff;
	background-image: url('');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	z-index: 50;
}
/*put back to 1024 after tablet test. Current:768*/
@media only screen and (max-width: 768px) { 
	#particles-js{
		background-attachment: scroll;
		width: 100%;
		margin-top: 0;
	}
}
.me-Text{
	border: 3px solid #17FBF7;
	background: rgba(0, 0, 0, 0.6);
	width: 32%;
	margin-left: 5%;
	margin-top: 8%;
	float: left;
	display: block;
	position: absolute;
	padding-top: 1%;
	padding-bottom: 1%;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	z-index: 5;
}
@media only screen and (max-width: 1024px) {
	#me-Text {
		width: 40%;
	}
}
.me-Text .growH1{
	margin: -7px;
	opacity: 1;
	display: inline-block;
	-webkit-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.me-Text .growH1:hover{
	color:#17FBF7;
	transform: scale(1.2);
}
@media only screen and (max-width: 768px) {
	.me-Text .growH1{
		margin: -5.7px;
	}
}
.me-Text .growH2{
	margin: -3px;
	opacity: 1;
	display: inline-block;
	-webkit-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.me-Text .growH2:hover{
	color:#17FBF7;
	transform: scale(1.1);
}
@media only screen and (max-width: 768px) {
	.me-Text .growH2{
		margin: -2px;
	}
}
#text-box{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	
}
#my-name{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	
}
#my-title{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	-webkit-box-pack: center;
	
}
#achevements-Wrapper{
	background-color: white;
	border-top: 2px solid #17FBF7;
	text-align: left;
	width: 100%;
	float: right;
	margin: 0 auto;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}
@media only screen and (max-width: 768px) { 
	#achevements-Wrapper{
		width: 100%;
	}
}
.gallery{
	background: white;
	position: relative;
	width: 100%;
	margin: 0 auto;
	-webkit-box-pack: center;
}
.gallery .item{
	width: 25%;
	position: relative;
	overflow: hidden;
	display: block;
	float: left;
	z-index: 110;
}
.gallery .item img{
	border: 2px solid #17FBF7; /*remove*/
	padding: 5px;
	position: relative;
	max-width: 100%;
	text-align: center;
    display: block;
    margin: 0 auto;
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
 	-ms-transform: scale(1.2);
 	-o-transform: scale(1.2);
 	transform: scale(1.2);
 	-webkit-transition: 0.9s;
 	-o-transition: 0.9s;
 	transition: 0.9s;
}

@media screen and (max-width: 768px){
	.gallery .item {
		width: 50%;
	}
}
@media screen and (max-width: 480px){
	.gallery .item {
		width: 100%;
	}
}
.gallery .item .overlay{
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
	top: 0;
	z-index: 11;
	vertical-align: middle;
	padding-top: 25%;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}
.gallery .item .overlay h4, .gallery .item .overlay span{
	position:relative;
	z-index: 12;
	margin-bottom: 0;
	text-align: center;
	display: block;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.gallery .item .overlay h4{

	color: #fff;
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 10px;
	bottom: -15px;
}
.gallery .item .overlay span{
	color: #7ac143;
	color: rgba(255, 255, 255, 0.7);
	font-size: 11px;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: 400;
	bottom: -5px;
	visibility: hidden;
	opacity: 0;
}
.gallery .item .overlay:before{
	content: '';
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.5);
}
.gallery .item:hover img{
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
.gallery .item:hover .overlay{
	visibility: visible;
	opacity: 1;
}
.gallery .item:hover .overlay:before{
	content: '';
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.5);
}
.gallery .item:hover .overlay h4{
	bottom: 0px;
}
.gallery .item:hover .overlay span{
	visibility: visible;
	opacity: 1;
	bottom: 0px;
}
#footer{
	background: #6d6c6c;
	padding-bottom: 5px;
	font-family: Tahoma, Geneva, sans-serif;
	color: black;
	padding-top: .5%;
	width: 100%;
	float: right;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}
@media only screen and (max-width: 768px) { 
	#footer{
		width: 100%;
	}
}
