/* =============================================================================
   Navigation Bar Above
   ========================================================================== */
#nav-above {
	width: 100%;
	position: fixed;
	z-index:100;
	-webkit-animation-delay: 2s;
	-o-animation-delay: 2s;
	animation-delay: 2s;
	-webkit-transition: 0.7s;
	-o-transition: 0.7s;
	transition: 0.7s;
}
#nav-above.border{
	border-left: 1px solid #e6e6e6;
}

#nav-above #logo{
	float: left;
	text-align: center;
}
#nav-above #main-menu ul{
	-moz-transform: translateY(0px);
	-webkit-transform: translateY(0px);
	-ms-transform: translateY(0px);
	-o-transform: translateY(0px);
	transform: translateY(0px);
	list-style-type: none;
	margin: 0;
	padding: 0;
	padding-bottom: 10px;
	overflow: hidden;
	position: relative;
	background-color: #6d6c6c;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
	-ms-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
	-o-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
	-webkit-animation-delay: 2s;
	-o-animation-delay: 2s;
	animation-delay: 2s;
	-webkit-transition: 0.7s;
	-o-transition: 0.7s;
	transition: 0.7s;
}
@media screen and (max-width: 768px){
	#nav-above #main-menu ul{
		-moz-transform: translateY(0px);
		-webkit-transform: translateY(0px);
		-ms-transform: translateY(0px);
		-o-transform: translateY(0px);
		transform: translateY(0px);
	}
}
#nav-above #main-menu ul li{
	display: inline;
	float: right;
	border-left: 1px solid #dddddd;
}

#nav-above #main-menu ul li a{
	color: rgba(0, 0, 0, 1);
	display: block;
	text-decoration: none;
	letter-spacing: .1em;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 300;
	position: relative;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	padding: 8px;
	background-color: #6d6c6c;
	font-family: Tahoma, Geneva, sans-serif;
}
#nav-above #main-menu ul li a:after{
	content: "";
	position: absolute;
	height: 2px;
	bottom: 7px;
	left: 10px;
	right: 10px;
	background: #17FBF7;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	-moz-transform: scaleX(0);
	-ms-transform: scaleX(0);
	-o-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	-moz-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	-ms-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	-o-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#nav-above #main-menu ul li a:hover{
	text-decoration: none;
	color: white;
}
#nav-above #main-menu ul li a:hover:after{
	visibility: visible;
	-webkit-transform: scaleX(1);
	-moz-transform: scaleX(1);
	-ms-transform: scaleX(1);
	-o-transform: scaleX(1);
	transform: scaleX(1);
}
#nav-above #main-menu ul li.active a{
	color: white;
}
#nav-above #main-menu ul li.active a:after{
	visibility: visible;
	-webkit-transform: scaleX(1);
	-moz-transform: scaleX(1);
	-ms-transform: scaleX(1);
	-o-transform: scaleX(1);
	transform: scaleX(1);
}
/*left off here*/
@media screen and (max-width: 768px){
	#nav-above {
		width: 100%;
		height: 70px;
		position: fixed;
	}
#nav-above main-menu ul{
	
}
}